@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.body {
  height: 100vh;
  display: flex;
}

.clock {
  width: 50vh;
  height: 50vh;
  margin: auto;
  background-color: lightgray;
  border-radius: 20%;
  padding: 2.2%;
  box-sizing: border-box;
}

.clock__inner {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 17.8%;
  box-sizing: border-box;
  padding: 2%;
}

.clock__strokes {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 17%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 2.8%;
  display: flex;
}

.stroke {
  width: 150%;
  height: 1px;
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2);
}

.stroke5, .stroke10, .stroke20, .stroke25 {
  height: 3px;
}

.stroke15, .stroke30 {
  background-color: transparent;
  box-shadow: none;
}

.stroke15::before, .stroke30::before, .stroke15::after, .stroke30::after {
  content: '';
  display: block;
  width: 1vh;
  height: 1vh;
  background: radial-gradient(circle at center, rgba(0, 0, 0, .6) 0, rgba(0, 0, 0, .6) 40%, white 60%);
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
}

.stroke15::before, .stroke30::before {
  left: 17%;
}

.stroke15::after, .stroke30::after {
  right: 17%;
}

.clock__main {
  width: 100%;
  height: 100%;
  background-color: white;
  margin: auto;
  z-index: 10;
  border-radius: 10%;
}
